body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', serif;
}

/* HEADER */

header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

section {
    margin: 0;
}

.logo {
    display: inline-block;
    font-size: 25px;
    color: white;
    margin: 0;
    padding-top: 29px;
    padding-left: 39px;
    cursor: default;
    transition: all ease 1s;
}

.logo span {
    color: #f06c64;
    transform: scale(5);
}

.burger {
    display: none;
}

.menu {
    display: inline-block;
    float: right;
    margin: 30px 40px 0 0;
    font-size: 12px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
    color: #ffffff;
}

.menu ul li:first-child:before {
    content: '';
}

.menu li:before {
    color: #494e62;
    content: "●";
    padding-right: 10px;
}

.menu li {
    margin-left: 11px;
    cursor: pointer;
}

.menu li:hover {
    color: #f06c64;
}

.menu li:active {
    color: #993832;
}

.menu_active {
    color: #f06c64;
}

/* SLIDER */

.slider {
    position: relative;
    height: 594px;
    width: 1020px;
    border-bottom: 6px solid #ea676b;
    overflow: hidden;
}

.slide-single {
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
}

.screen-1 {
    position: absolute;
    top: 118px;
    left: 125px;
    width: 189px;
    height: 334px;
    background-color: black;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0;
}

.screen-2 {
    position: absolute;
    top: 191px;
    left: 485px;
    width: 333px;
    height: 188px;
    background-color: black;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0;
}

.screen-3 {
    position: absolute;
    top: 112px;
    left: 398px;
    width: 200px;
    height: 354px;
    background-color: black;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0;
}

.touch_screen {
    opacity: 1;
}

@keyframes next {
    from {
        transform: translateX(-10px);
        opacity: 0.1;
    }
    to {
        transform: translateX(10px);
        opacity: 1;
    }
}

@keyframes prev {
    from {
        transform: rotate(180deg) translateX(-10px);
        opacity: 0.1;
    }
    to {
        transform: rotate(180deg) translateX(10px);
        opacity: 1;
    }
}

.slider .prev {
    position: absolute;
    transform: rotate(180deg);
    left: 27px;
    top: 266px;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
}

.slider .prev:hover {
    padding: 15px;
    animation-name: prev;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slider .next {
    position: absolute;
    right: 25px;
    top: 266px;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
}

.slider .next:hover {
    padding: 15px;
    animation-name: next;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/* SERVICES */

.services {
    color: #666d89;
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #ffffff;
}

.services h2 {
    margin: 0;
    padding: 61px 0 0 40px;
    font-size: 30px;
    font-weight: 900;
}

.services > p {
    font-size: 18px;
    line-height: 30px;
    margin: 19px 40px 0 40px;
    font-weight: 300;
    text-align: justify;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    margin: 44px 38px 40px 39px;
}

.services-items p {
    margin: 0;
    padding: 9px 0 0 0;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    position: relative;
}

.services-item {
    width: 220px;
    height: 90px;
    padding-left: 81px;
    margin-right: 18px;
    margin-bottom: 33px;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.services-item h3 {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    word-spacing: -1px;
}

.services-item p:before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/Ellipse.png");
    background-repeat: no-repeat;
    left: -79px;
    top: -18px;
}

.pen p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/pen.png");
    background-repeat: no-repeat;
    left: -65px;
    top: -5px;
}

.bulb p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/bulb.png");
    background-repeat: no-repeat;
    left: -62px;
    top: -6px;
}

.heart p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/heart.png");
    background-repeat: no-repeat;
    left: -66px;
    top: -3px;
}

.phone p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/phone.png");
    background-repeat: no-repeat;
    left: -61px;
    top: -5px;
}

.bubble p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/bubble.png");
    background-repeat: no-repeat;
    left: -66px;
    top: -3px;
}

.star p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/star.png");
    background-repeat: no-repeat;
    left: -67px;
    top: -4px;
}

/* PORTFOLIO */

.portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-left: 40px;
    color: #666d89;
}

.portfolio h2 {
    padding-top: 61px;
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

.portfolio p {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    margin: 25px 40px 15px 0;
}

.tags {
    display: flex;
    list-style: none;
    margin: 0 0 17px 0;
    padding: 0;
}

.tags li {
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 0px 7px 2px 6px;
    margin-right: 10px;
    cursor: pointer;
}


.tag_active {
    color: #ffffff;
}

.images {
    display: flex;
    flex-wrap: wrap;
    height: 610px;
}

.images img {
    width: 220px;
    height: 187px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;
}

.img-touch {
    outline: 5px solid #F06C64;
}

/* PORTFOLIO */

.aboutUs {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-left: 40px;
    color: #666d89;
}

.aboutUs p {
    font-size: 18px;
    line-height: 31px;
    margin: 18px 40px 44px 0;
    word-spacing: 1px;
    color: #666d89;
    font-weight: 300;
}

.aboutUs h2 {
    padding-top: 60px;
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
}

.about-items img {
    width: 300px;
    height: 300px;
}

.about-item {
    width: 300px;
    margin-right: 20px;
}

.about-item h3 {
    margin-top: 13px;
    margin-bottom: 8px;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: -1px;
}

.about-item p {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.social {
    margin-top: 22px;
}

.social img {
    width: 34px;
    height: 34px;
    margin-right: 3px;
}

.quote-wrapper {
    margin: 54px 33px 0 34px;
    position: relative;
}

.quote {
    background-color: #f06c64;
    height: 642px;
    border: 6px solid #ea676b;
}

.quote h2 {
    color: #f0d8d9;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

.quote p {
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    word-spacing: 1px;
    margin-bottom: 43px;
}

.message {
    position: absolute;
    box-sizing: content-box;
    top: 40%;
    left: 20%;
    background-color: #f0d8d9;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    transition: all ease 1s;
    color: black;
    z-index: 10;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg);
        background-color: #494e62;}
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 1s;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

form {
    margin-right: 20px;
    width: min-content;
}

input[type='text'],
input[type='email'],
textarea {
    width: 618px;
    background-color: #d6564f;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    text-indent: 14px;
    line-height: normal;
}

input[type='submit'] {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: #FBC65F;
    border-radius: 5px;
    color: #886A30;
}
input[type='submit']:active {
    transform: scale(0.9);
}

input[type='text']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: #f48c8f;
    transform: translate(0, -3px);
}

textarea::placeholder {
    transform: translate(-1px, -5px);
}

input[type='text'],
input[type='email'] {
    height: 36px;
}

textarea {
    resize: none;
    width: 615px;
    height: 185px;
    padding-top: 15px;
}

.contact {
    width: 300px;
}

.contact h3 {
    font-size: 18px;
    font-weight: 900;
    margin: -1px 0 0 0;
    color: #f0d8d9;
    word-spacing: -1px;
}

.contact p {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 8px 0 0 0;
    word-spacing: -1px;
    text-align: justify;
}

.quote ul {
    list-style: none;
    padding-left: 24px;
    margin: 25px 0 0 0;
    font-size: 12px;
    color: #f0d8d9;
    font-weight: 400;
}

.quote li {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}

.quote li a {
    color: inherit;
    text-decoration: none;
}

.quote li:first-child:before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/location.png');
    background-repeat: no-repeat;
    left: -20px;
    top: 1px;
    width: 15px;
    height: 15px;
}

.quote li:nth-child(2):before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/phone.png');
    background-repeat: no-repeat;
    left: -22px;
    top: 1px;
    width: 15px;
    height: 15px;
}

.quote li:last-child:before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/mail.png');
    background-repeat: no-repeat;
    left: -23px;
    top: 4px;
    width: 15px;
    height: 15px;
}

footer {
    height: 76px;
    background-color: #2d303a;
}

footer span {
    display: inline-block;
    color: #666d89;
    font-size: 12px;
    margin: 31px 0 0 41px;
}

footer .social {
    margin: 22px 35px 0 0px;
    float: right;
}

footer .social img {
    width: 34px;
    height: 34px;
    margin-right: 3px;
}

.scroll_top {
    position: fixed;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background-color: black;
}


@media  (max-width : 768px) {
    body {
        width: 768px;
    }

    .slider {
        width: 768px;
        height: 447px;
    }

    .slide-single img {
        width: 768px;
    }

    .slider .prev {
        left: 0px;
        top: 200px;
    }

    .slider .next {
        right: 0px;
        top: 200px;
    }

    .screen-1 {
        top: 89px;
        left: 95px;
        width: 142px;
        height: 252px;
    }

    .screen-2 {
        top: 144px;
        left: 365px;
        width: 251px;
        height: 142px;
    }

    .screen-3 {
        top: 84px;
        left: 299px;
        width: 151px;
        height: 267px;
    }

    .services {
        height: 675px;
    }

    .portfolio {
        height: 1102px;
    }

    .about-items img {
        width: 219px;
        height: 219px;
    }

    .social img {
        width: 34px;
        height: 34px;
    }

    .about-item {
        width: 219px;
        margin-right: 20px;
    }

    .quote {
        height: 650px   ;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 442px;

    }

    textarea {
        width: 439px;
        height: 159px;
    }

    .contact {
        width: 221px;
    }


}

@media  (max-width : 375px) {
    body {
        width: 375px;
    }

    .logo {
        margin-left: 85px;
    }

    .logo_move {
        display: inline-block;
        font-size: 25px;
        color: white;
        margin: 0;
        padding-top: 29px;
        padding-left: 39px;
        cursor: default;
        transition: all ease 1s;
    }


    .burger-menu {
        position: absolute;
        display: block;
        width: 25px;
        height: 20px;
        left: 10px;
        top: 20px;
        padding: 15px;
        z-index: 3;
        transition: all ease 1s;
        transform: rotate(0deg);
    }

    .burger {
        position: absolute;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 15%;
    }

    .burger-active {
        transform: rotate(-90deg);
    }

    .burger:before,
    .burger:after {
        content: '';
        position: relative;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 15%;
    }

    .burger:before {
        top: 20px;
    }

    .burger:after {
        top: 7px;
    }

    .menu {
        position: absolute;
        width: 278px;
        height: 100%;
        top: 0;
        left: -278px;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        float: none;
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        z-index: 2;
        transition: all ease 1s;
    }

    .menu ul {
        position: relative;
        top: 150px;
        display: block;
        list-style: none;
        color: #ffffff;
        font-size: 24px;
    }

    .menu ul li:first-child:before {
        content: '';
    }

    .menu li:before {
        color: #494e62;
        content: "";
        padding-right: 0;
    }

    .menu li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    .menu li:hover {
        color: #f06c64;
    }

    .menu li:active {
        color: #993832;
    }

    .menu_active {
        color: #f06c64;
    }

    .slider {
        width: 375px;
        height: 218px;
    }

    .slide-single img {
        width: 375px;
    }

    .slider .prev {
        left: 0px;
        top: 90px;
    }

    .slider .next {
        right: 0px;
        top: 90px;
    }

    .screen-1 {
        top: 43px;
        left: 46px;
        width: 70px;
        height: 124px;
    }

    .screen-2 {
        top: 70px;
        left: 178px;
        width: 123px;
        height: 70px;
    }

    .screen-3 {
        top: 41px;
        left: 146px;
        width: 74px;
        height: 131px;
    }

    .services {
        height: 1120px;
    }

    .portfolio {
        height: 1140px;
        padding-left: 20px;
    }

    .tags li {
        font-size: 12px;
    }

    .images img {
        width: 151px;
        height: 128px;
    }

    .aboutUs {
        height: 1860px;
        padding-left: 30px;
    }


    .about-items img {
        width: 314px;
        height: 314px;
    }

    .social img {
        width: 34px;
        height: 34px;
    }

    .about-item {
        width: 314px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .quote {
        height: 1120px   ;
    }

    form {
        margin-bottom: 25px;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 296px    ;

    }

    textarea {
        width: 292px;
        height: 159px;
    }

    input[type='submit'] {
        width: 100%;
        height: 50px;
        cursor: pointer;
        border: none;
        padding: 5px 15px;
        background-color: #FBC65F;
        border-radius: 5px;
        color: #886A30;
    }

    footer > span {
        display: none;
    }

    footer .social {
        margin-right: 111px;
    }
}