body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', serif;
}

/* HEADER */

header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

section {
    margin: 0;
}

.logo {
    display: inline-block;
    font-size: 25px;
    color: white;
    margin: 0;
    padding-top: 29px;
    padding-left: 39px;
    cursor: default;
}

.logo span {
    color: #f06c64;
    transform: scale(5);
}

.menu {
    display: inline-block;
    float: right;
    margin: 30px 40px 0 0;
    font-size: 12px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li:first-child:before {
    content: '';
}

.menu li:before {
    color: #494e62;
    content: "â—";
    padding-right: 10px;

}

.menu li {
    margin-left: 11px;
    color:white;
}

.menu li:first-child {
    color: #f06c64;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu li a:hover {
    color: #f06c64;
}

.menu li a:active {
    color: #993832;
}

/* SLIDER */

.slider {
    position: relative;
}

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider img:first-child {
    position: absolute;
    bottom: 31px;
    left: 111px;
}

.slider img:nth-child(2) {
    position: absolute;
    top: 69px;
    left: 360px;

}

@keyframes next {
    from {
        transform: translateX(-10px);
        opacity: 0.1;
    }
    to {
        transform: translateX(10px);
        opacity: 1;
    }
}

@keyframes prev {
    from {
        transform: rotate(180deg) translateX(-10px);
        opacity: 0.1;
    }
    to {
        transform: rotate(180deg) translateX(10px);
        opacity: 1;
    }
}

.slider .prev {
    position: absolute;
    transform: rotate(180deg);
    left: 27px;
    top: 266px;
    cursor: pointer;
    padding: 15px;
}

.slider .prev:hover {
    padding: 15px;
    animation-name: prev;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slider .next {
    position: absolute;
    right: 25px;
    top: 266px;
    cursor: pointer;
    padding: 15px;
}

.slider .next:hover {
    padding: 15px;
    animation-name: next;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/* SERVICES */

.services {
    color: #666d89;
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #ffffff;
}

.services h2 {
    margin: 0;
    padding: 61px 0 0 40px;
    font-size: 30px;
    font-weight: 900;
}

.services > p {
    font-size: 18px;
    line-height: 30px;
    margin: 19px 40px 0 40px;
    font-weight: 300;
    text-align: justify;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    margin: 44px 38px 40px 39px;
}

.services-items p {
    margin: 0;
    padding: 9px 0 0 0;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    position: relative;
}

.services-item {
    width: 220px;
    height: 90px;
    padding-left: 81px;
    margin-right: 18px;
    margin-bottom: 33px;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.services-item h3 {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    word-spacing: -1px;
}

.services-item p:before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/Ellipse.png");
    background-repeat: no-repeat;
    left: -79px;
    top: -18px;
}

.pen p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/pen.png");
    background-repeat: no-repeat;
    left: -65px;
    top: -5px;
}

.bulb p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/bulb.png");
    background-repeat: no-repeat;
    left: -62px;
    top: -6px;
}

.heart p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/heart.png");
    background-repeat: no-repeat;
    left: -66px;
    top: -3px;
}

.phone p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/phone.png");
    background-repeat: no-repeat;
    left: -61px;
    top: -5px;
}

.bubble p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/bubble.png");
    background-repeat: no-repeat;
    left: -66px;
    top: -3px;
}

.star p:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("assets/img/singolo1/star.png");
    background-repeat: no-repeat;
    left: -67px;
    top: -4px;
}

/* PORTFOLIO */

.portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-left: 40px;
    color: #666d89;
}

.portfolio h2 {
    padding-top: 61px;
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

.portfolio p {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    margin: 25px 40px 15px 0;
}

.tags {
    display: flex;
    list-style: none;
    margin: 0 0 17px 0;
    padding: 0;
}

.tags li {
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 0px 7px 2px 6px;
    margin-right: 10px;
}

.tags a {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
}

.tags .active {
    color: #ffffff;
    border-color: #ffffff;
}

.images {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 610px;
}

.images div {
    width: 220px;
    height: 187px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;
}

.images div:first-child img{
    position: absolute;
    transform: translate(-8px, -11px);
}

.images div:nth-child(2) img {
    position: absolute;
    transform: translate(-82px, -43px);
}

.images div:nth-child(3) img {
    position: absolute;
    transform: translate(-11px, -1px);
}

.images div:nth-child(4) img {
    position: absolute;
    transform: translate(-24px, -2px);
}

.images div:nth-child(5) img {
    position: absolute;
    transform: translate(-10px, -16px);
}

.images div:nth-child(6) img {
    position: absolute;
    transform: translate(-16px, -4px);
}

.images div:nth-child(7) img {
    position: absolute;
    transform: translate(-31px, -39px);
}

.images div:nth-child(8) img {
    position: absolute;
    transform: translate(-24px, -32px);
}

.images div:nth-child(9) img {
    position: absolute;
    transform: translate(-16px, -2px);
}

.images div:nth-child(10) img {
    position: absolute;
    transform: translate(-141px, -113px);
}

.images div:nth-child(11) img {
    position: absolute;
    transform: translate(-144px, -175px);
}

.images div:nth-child(12) img {
    position: absolute;
    transform: translate(-36px, -60px);
}

/* PORTFOLIO */

.aboutUs {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-left: 40px;
    color: #666d89;
}

.aboutUs p {
    font-size: 18px;
    line-height: 31px;
    margin: 18px 40px 44px 0;
    word-spacing: 1px;
    color: #666d89;
    font-weight: 300;
}

.aboutUs h2 {
    padding-top: 60px;
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

.about-items {
    display: flex;
}

.about-items img {
    width: 300px;
    height: 300px;
}

.about-item {
    width: 300px;
    margin-right: 20px;
}

.about-item h3 {
    margin-top: 13px;
    margin-bottom: 8px;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: -1px;
}

.about-item p {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.social {
    margin-top: 22px;
}

.social img {
    width: 34px;
    height: 34px;
    margin-right: 3px;
}

.quote-wrapper {
    margin: 54px 33px 0 34px;
}

.quote {
    background-color: #f06c64;
    height: 642px;
    border: 6px solid #ea676b;
}

.quote h2 {
    color: #f0d8d9;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

.quote p {
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    word-spacing: 1px;
    margin-bottom: 43px;
}

.flex-wrapper {
    display: flex;
}

form {
    margin-right: 20px;
    width: min-content;
}

input[type='text'],
input[type='email'],
textarea {
    width: 618px;
    background-color: #d6564f;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    text-indent: 14px;
    line-height: normal;
}

input[type='submit'] {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: #d6564f;
    border-radius: 5px;
    color: #f0d8d9;
}
input[type='submit']:active {
    transform: scale(0.9);
}

input[type='text']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: #f48c8f;
    transform: translate(0, -3px);
}

textarea::placeholder {
    transform: translate(-1px, -5px);
}

input[type='text'],
input[type='email'] {
    height: 36px;
}

textarea {
    resize: none;
    width: 615px;
    height: 185px;
    padding-top: 15px;
}

.contact h3 {
    font-size: 18px;
    font-weight: 900;
    margin: -1px 0 0 0;
    color: #f0d8d9;
    word-spacing: -1px;
}

.contact p {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin: 8px 0 0 0;
    word-spacing: -1px;
    text-align: justify;
}

.quote ul {
    list-style: none;
    padding-left: 24px;
    margin: 25px 0 0 0;
    font-size: 12px;
    color: #f0d8d9;
    font-weight: 400;
}

.quote li {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}

.quote li a {
    color: inherit;
    text-decoration: none;
}

.quote li:first-child:before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/location.png');
    background-repeat: no-repeat;
    left: -20px;
    top: 1px;
    width: 15px;
    height: 15px;
}

.quote li:nth-child(2):before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/phone.png');
    background-repeat: no-repeat;
    left: -22px;
    top: 1px;
    width: 15px;
    height: 15px;
}

.quote li:last-child:before {
    content: '';
    position: absolute;
    background-image: url('assets/img/singolo3/mail.png');
    background-repeat: no-repeat;
    left: -23px;
    top: 4px;
    width: 15px;
    height: 15px;
}

footer {
    height: 76px;
    background-color: #2d303a;
}

footer span {
    display: inline-block;
    color: #666d89;
    font-size: 12px;
    margin: 31px 0 0 41px;
}

footer .social {
    margin: 22px 35px 0 0px;
    float: right;
}

footer .social img {
    width: 34px;
    height: 34px;
    margin-right: 3px;
}

